:root {
    --bright-background: #fff;
    --dark-background: #18191f;
    --inner-shadow: inset -2px -2px 3px #ffffff0e, inset 3px 3px 3px #0008;
    --outer-shadow: -2px -2px 3px #ffffff0e, 3px 3px 3px #0008;

    --toolbar-height: 50px;
}

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Candara', sans-serif;
}

body {
    background-color: var(--dark-background);
    min-height: 100vh;
    margin: 0;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--toolbar-height);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--outer-shadow);
    background-color: var(--dark-background);
    z-index: 1;
}

.toolbar-item {
    height: 80%;
    width: auto;
    box-shadow: var(--outer-shadow);
    border-radius: 5px;
    transition: box-shadow .3s, background-color .15s;
    user-select: none;
}

.toolbar-item:hover {
    background-color: #ffffff0e;
}

.toolbar-item:active {
    box-shadow: var(--inner-shadow);
}

.toolbar-item-selected {
    box-shadow: var(--inner-shadow);
    pointer-events: none;
}

#content {
    position: absolute;
    top: var(--toolbar-height);
    left: 0;
    width: 100%;
    min-height: calc(100vh - var(--toolbar-height));
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--dark-background);
    box-shadow: var(--outer-shadow);
    transition: opacity .3s;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
