.split-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.split-side {
    position: relative;
    width: calc(50% - 10px);
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#input-email,
#output-email {
    height: calc(90% - 10px);
    width: 100%;
    outline: none;
    box-shadow: var(--outer-shadow);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Consolas', monospace;
    resize: none;
    display: block;
    background-color: transparent;
}

.highlight {
    color: transparent;
    position: absolute;
    height: calc(90% - 10px);
    bottom: 5px;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Consolas', monospace;
    resize: none;
    display: block;
    background-color: transparent;
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

mark.highlighter {
    color: transparent;
    background-color: #BBAEFF2c;
    font-family: inherit;
    font-size: inherit;
}

#input-email:focus,
#output-email:focus {
    box-shadow: var(--inner-shadow);
}

span.highlight {
    color: red;
}

.split-side-controls {
    height: calc(10% - 10px);
    width: 100%;
    background-color: #fff4;
    box-shadow: var(--outer-shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.split-side-control {
    width: auto;
    height: 80%;
    box-shadow: var(--outer-shadow);
    border-radius: 5px;
    user-select: none;
}

.split-side-control:hover {
    background-color: #fff2;
}

.split-side-control:active {
    box-shadow: var(--inner-shadow);
}
